<% content_for :title, 'About' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Space10 is a future-living lab and exhibition space</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row content_block">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-12">
          <div class="aspect-ratio r-20-9">
            <div style="background-image: url('<%= image_url 'frontpage/first.jpg' %>');">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row content_block">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-md-12 text_block">
          <p>
            Space10 is a future-living lab and exhibition space in the heart of Copenhagen. Our mission is to investigate the future of urban living by detecting major challenges that will impact people on a global scale, and exploring possible solutions. The overall goal is to create opportunities for a better and more sustainable way of living in the future.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-gray">
  <div class="container">
    <div class="row content_block">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>How we work</h2>
          </div>
        </div>
        <div class="row text_block">
          <div class="col-md-12">
            <p>Space10 investigates the future of urban living through a series of labs. Each lab sets out to tackle a specific challenge, and unfolds through a num- ber of talks, workshops, pitch nights, design residencies, exhibitions, collab- orative projects, and other formats.</p>
            <p>In collaboration with our ever-growing community of visionary designers, artists, technologists, makers and crea- tives from around the world, we ideate and prototype ideas and solutions to major challenges the global community faces and exhibit them to the world.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row content_block about-gallery">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-sm-8">
            <div class="about-photo" style="background-image: url('<%= image_url 'about/one.jpg' %>');"></div>
          </div>
          <div class="col-sm-4">
            <div class="about-photo" style="background-image: url('<%= image_url 'about/two.jpg' %>');"></div>
          </div>
          <div class="col-sm-4">
            <div class="about-photo" style="background-image: url('<%= image_url 'about/three.jpg' %>');"></div>
          </div>
          <div class="col-sm-8">
            <div class="about-photo" style="background-image: url('<%= image_url 'about/four.jpg' %>');"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row content_block fact-block underline-links">
    <div class="col-md-6">
      <h2>The<br>Space</h2>
      <div class="about-address">
        <p>Address</p>
        <p>Space10</p>
        <p>Flæsketorvet 10</p>
        <p>1711 Copenhagen V</p>
        <p>Denmark</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-6">
            <h4>Opening hours</h4>
            <%= link_to events_path do %>Space10 is open to the public. Anyone interested can check out the Space10 program here.<% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h4>Press Kit</h4>
          <%= link_to 'mailto:simon@space10.io' do %>Get everything you need to spread the word about Space10.
        <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h4>Use the Space</h4>
          <%= link_to 'mailto:kaave@space10.io' do %>Have a cool project that aligns with our mission? Let’s have a chat.<% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h4>Open positions</h4>
          <%= link_to 'mailto:discover@space10.io' do %>We are always looking for fresh talent and experienced frontrunners.<% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr>
    </div>
  </div>
  <div class="row content_block">
    <div class="col-md-12 text-center">
      <h2>Space10 x IKEA</h2>
    </div>
    <div class="col-md-6 col-md-offset-3 text-center">
      <p class="excerpt">
        Space10 is proudly supported by Inter IKEA Systems B.V., who is the owner of the IKEA Concept and worldwide IKEA franchisor. Space10 serves as an external innovation hub for IKEA to get inspired, gain fresh perspectives, and discover new talents and ideas to invest in and bring forward.
      </p>
    </div>
  </div>
</div>
<div class="bg-gray">
<div class="container hidden-xs">
  <div class="row content_block">
    <div class="col-md-12 text-center">
      <h2>Join the journey</h2>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="journey-box">
          <%= image_tag 'logos/dynamic/01-logo.png', width: '100' %>
          <hr>
          <h4>Space10<br>Talks</h4>
        </div>
        <div class="journey-box">
          <%= image_tag 'logos/dynamic/02-logo.png', width: '100' %>
          <hr>
          <h4>Prototype<br>Exhibitions</h4>
        </div>
        <div class="journey-box">
          <%= image_tag 'logos/dynamic/03-logo.png', width: '100' %>
          <hr>
          <h4>Workshops<br>Hackathons</h4>
        </div>
        <div class="journey-box">
          <%= image_tag 'logos/dynamic/04-logo.png', width: '100' %>
          <hr>
          <h4>Community<br>Sessions</h4>
        </div>
        <div class="journey-box">
          <%= image_tag 'logos/dynamic/05-logo.png', width: '100' %>
          <hr>
          <h4>Pop-up<br>Events</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row content_block">
    <div class="col-md-8 col-md-offset-2 text-center">
      <!-- <p class="lead">our team</p> -->
      <p class="excerpt">
        Our team
      </p>
    </div>
  </div>
  <div class="row underline-links">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-sm-4 post-thumbnail">
          <div class="thumbnail">
            <%= image_tag image_url('people/carla.jpg'), {class: 'full_width'} %>
            <div class="caption">
              <h3>Carla Cammilla Hjort</h3>
              <p class="meta-text">CEO & Founder</p>
              <p class="meta-text"><a href="mailto:carla@space10.io">Get in touch</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 post-thumbnail">
          <div class="thumbnail">
            <%= image_tag image_url('people/simon.jpg'), {class: 'full_width'} %>
            <div class="caption">
              <h3>Simon Caspersen</h3>
              <p class="meta-text">Director of Communications</p>
              <p class="meta-text"><a href="mailto:simon@space10.io">Get in touch</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 post-thumbnail">
          <div class="thumbnail">
            <%= image_tag image_url('people/guillaume.jpg'), {class: 'full_width'} %>
            <div class="caption">
              <h3>Guillaume Charny-Brunet</h3>
              <p class="meta-text">Chief Innovation Officer</p>
              <p class="meta-text"><a href="mailto:guillaume@space10.io">Get in touch</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 post-thumbnail">
          <div class="thumbnail">
            <%= image_tag image_url('people/kaave.jpg'), {class: 'full_width'} %>
            <div class="caption">
              <h3>Kaave Pour</h3>
              <p class="meta-text">Creative Director</p>
              <p class="meta-text"><a href="mailto:kaave@space10.io">Get in touch</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 post-thumbnail">
          <div class="thumbnail">
            <%= image_tag image_url('people/kwadwo.jpg'), {class: 'full_width'} %>
            <div class="caption">
              <h3>Kwadwo Adu</h3>
              <p class="meta-text">Head of Digital</p>
              <p class="meta-text"><a href="mailto:kwadwo@space10.io">Get in touch</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 post-thumbnail">
          <div class="thumbnail">
            <%= image_tag image_url('people/kevin.jpg'), {class: 'full_width'} %>
            <div class="caption">
              <h3>Kevin Curran</h3>
              <p class="meta-text">Production Manager</p>
              <p class="meta-text"><a href="mailto:kevin@space10.io">Get in touch</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 post-thumbnail">
          <div class="thumbnail">
            <%= image_tag image_url('people/mikkel.jpg'), {class: 'full_width'} %>
            <div class="caption">
              <h3>Mikkel Bang Bang</h3>
              <p class="meta-text">Production Manager</p>
              <p class="meta-text"><a href="mailto:mikkel@space10.io">Get in touch</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 post-thumbnail">
          <div class="thumbnail">
            <%= image_tag image_url('people/lin.jpg'), {class: 'full_width'} %>
            <div class="caption">
              <h3>Lin Klinke Wæver</h3>
              <p class="meta-text">Project Coordinator</p>
              <p class="meta-text"><a href="mailto:lin@artrebels.com" >Get in touch</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 post-thumbnail">
          <div class="thumbnail">
            <%= image_tag image_url('people/karin.jpg'), {class: 'full_width'} %>
            <div class="caption">
              <h3>Karin Borring</h3>
              <p class="meta-text">Graphic Designer</p>
              <p class="meta-text"><a href="mailto:karin@artrebels.com" >Get in touch</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="row content_block">
    <div class="col-md-12 text-center">
      <h2>Behind Space10</h2>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <p class="excerpt">
        Space10 is conceptualised and facilitated by Rebel Agency. A part of Rebel United, which includes Trailerpark Festival, ArtRebels and Rebel Academy.
      </p>
    </div>
  </div>
</div>