<div class="row">
  <div class="col-md-10">
    <div class="row message-to-from">
      <div class="col-sm-4">To: <%= image_tag @profile.image_url(:thumbnail), height: 14 %> <%= @profile.title %></div>
      <div class="col-sm-8">From: <%= image_tag current_user.personal_profile.image_url(:thumbnail), height: 14 %> <%= current_user.name %></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= simple_form_for @message do |f| %>
      <div class="row">
        <div class="col-md-6">
          <%= f.hidden_field :recipient, value: @profile.id %>
          <%= f.input :body, as: :text, label: false, placeholder: "Message", input_html: {class: 'auto-resize'} %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.submit 'Send message', class: 'btn btn-lg btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>