<div class="row">
  <div class="col-md-12">
    To <%= @profile.title %> | From <%= current_user.name %>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= simple_form_for @message do |f| %>
      <div class="row">
        <div class="col-md-6">
          <%= f.hidden_field :recipient, value: @profile.id %>
          <%= f.input :body, as: :text, label: false %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.submit 'Send message', class: 'btn btn-lg btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>