<div class="bg-gray community-controls">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<p>Filter/Sort</p>
			</div>
			<%= search_form_for @q, remote: true, class: 'auto_submit' do |f| %>
				<div class="col-md-5">
					<div class="row no-margin">
						<div class="col-md-6 no-padding">
							<div class="form-group">
								<div class="form-select">
									<%= f.collection_select :tags_id_eq, Tag.joins(:profiles).where('profiles.published', true).uniq , :id, :title, {include_blank: 'Show all'}, {class: 'form-control'} %>
									<span class="caret"></span>
								</div>
							</div>
						</div>
						<div class="col-md-6 no-padding">
							<div class="form-group">
								<div class="form-select">
									<%= select_tag :location, options_for_select(Profile.published.all.map{ |p| [p.location, [p.latitude, p.longitude].join(",")] }.uniq.reject{|l| l[0].blank? }, params[:location]), {include_blank: 'Location', class: 'form-control'} %>
									<span class="caret"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="row no-margin">
						<div class="col-xs-6 no-padding">
							<button class="btn btn-block">Collaborators</button>
						</div>
						<div class="col-xs-6 no-padding">
							<button class="btn btn-block" disabled>Network</button>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<div class="bg-gray">
	<div class="container community-profiles">
		<%= render 'profiles' %>
	</div>
	<div class="container community-controls">
		<div class="row text-center ajax_pagination">
			<%= render 'pagination' %>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 join-us text-center">
			<h1>Join Space10</h1>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<!-- <p class="lead"><strong>Become part of the Space10 community and connect with like-minded thinkers.</strong></p> -->
			<%= link_to "Sign up", new_user_path, {remote: true, data: {toggle: "modal", target: "#modal-fullscreen"}, class: "btn btn-lg btn-default"} %>&nbsp; &nbsp; &nbsp;<%= link_to "Log in", login_path, {remote: true, data: {toggle: "modal", target: "#modal-fullscreen"}, class: "btn btn-lg btn-default"} %>
				</div>
			</div>
		</div>
	</div>
</div>