<p class="event-date"><%= event.starts_at.strftime("%d") %></p>
<p class="date"><%= event.starts_at.strftime("%B") %></p>
<% if event.address.present? && event.address.any_present? %>
	<p class="event-address">
		Address <br>
		<%= event.address.name.present? ? (event.address.name + "<br>").html_safe : '' %>
		<%= event.address.address_1.present? ? (event.address.address_1 + "<br>").html_safe : '' %>
		<%= event.address.address_2.present? ? (event.address.address_2 + "<br>").html_safe : '' %>
		<%= event.address.zipcode.present? ? (event.address.zipcode).html_safe : '' %>
		<%= event.address.city.present? ? (event.address.city + "<br>").html_safe : '' %>
		<%= event.address.country.present? ? (event.address.country + "<br>").html_safe : '' %>
	</p>
<% end %>
<p class="event-address">
	Time <br>
	<%= event.timespan %>
</p>