<% content_for :title, "Program" %>

<div class="container">
	<% showing_events = @events.any? ? @events : @previous_events %>
	<% showing_events.each do |event| %>
		<% if cycle('odd', 'even') == 'odd' %>
			<div class="row event-large event-large-right">
				<div class="col-md-11 col-md-offset-1 no-sm-padding">
					<%= link_to event, class: 'event-images' do %>
					
						<div class="aspect-ratio r-20-9 hidden-xs">
							<div style="background-image: url('<%= event.secondary_image.present? ? event.secondary_image.image_url : event.featured_image.image_url %>');">
							</div>
						</div>
						<div class="aspect-ratio r-16-9 visible-xs">
							<div style="background-image: url('<%= event.secondary_image.present? ? event.secondary_image.image_url : event.featured_image.image_url %>');">
							</div>
						</div>
						<% if event.secondary_image.present? %>
							<div class="featured-image featured-image-right">
								<div class="aspect-ratio r-4-3">
									<div style="background-image:url('<%= event.featured_image.image_url %>');">
									</div>
								</div>
							</div>
						<% end %>
					<% end %>
					<div class="row content_block">
						<div class="col-sm-7 event-title-and-excerpt">
							<h1><%= event.title %></h1>
							<p class="excerpt"><%= event.excerpt %></p>
							<%= link_to "Read more", event, class: 'btn btn-lg btn-default hidden-xs' %>
						</div>
						<div class="col-xs-6 visible-xs-block">
							<%= link_to "Read more", event, class: 'btn btn-lg btn-default' %>
						</div>
						<div class="col-sm-5 col-xs-6 event-info">
							<%= render 'event_info', event: event %>
						</div>
					</div>
				</div>
			</div>
		<% else %>
			<div class="row event-large event-large-left">
				<div class="col-md-11 no-sm-padding">
					<%= link_to event do %>
					<div class="event-images">
						<div class="aspect-ratio r-16-9">
							<div style="background-image: url('<%= event.secondary_image.present? ? event.secondary_image.image_url : event.featured_image.image_url %>');">
							</div>
						</div>
						<% if event.secondary_image.present? %>
							<div class="featured-image featured-image-left">
								<div class="aspect-ratio r-5-3">
									<div style="background-image:url('<%= event.featured_image.image_url %>');">
									</div>
								</div>
							</div>
						<% end %>
					</div>
					<% end %>
					<div class="row content_block">
						<div class="col-sm-7 col-sm-push-5 event-title-and-excerpt">
							<h1><%= event.title %></h1>
							<p class="excerpt"><%= event.excerpt %></p>
							<%= link_to "Read more", event, class: 'btn btn-lg btn-default hidden-xs' %>
						</div>
						<div class="col-xs-6 visible-xs-block">
							<%= link_to "Read more", event, class: 'btn btn-lg btn-default' %>
						</div>
						<div class="col-sm-5 col-xs-6 col-sm-pull-7 event-info">
							<%= render 'event_info', event: event %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
	<% if showing_events.empty? %>
		<div class="row">
			<div class="col-md-12 text-center">
				<p class="lead">
					No events. Stay tuned.
				</p>
			</div>
		</div>
	<% end %>
	<% if @previous_events.any? && showing_events != @previous_events %>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-md-12 text-center content_block">
						<h2>Previous events</h2>
					</div>
				</div>
				<% @previous_events.in_groups_of(2, false) do |group| %>
					<div class="row">
						<% group.each do |event| %>
							<div class="col-sm-6 event-small">
								<%= render 'event_small', event: event %>
							</div>
						<% end %>
						<div class="clearfix hidden-xs"></div>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>