<div class="container">
	<% @events.each do |event| %>
		<div class="row">
			<div class="col-md-11 <%= cycle('col-md-offset-1','', name: 'one') %>">
				<div class="event-images">
					<%= image_tag event.secondary_image.present? ? event.secondary_image.image_url : event.featured_image.image_url, class: 'full_width' %>
					<% if event.secondary_image.present? %>
						<%= image_tag event.featured_image.image_url, class: "featured-image #{cycle('featured-image-right','featured-image-left',name: 'four')}" %>
					<% end %>
				</div>
				<div class="row content_block">
					<div class="col-md-7 <%= cycle('','col-md-push-5', name: 'two') %>">
						<h1><%= link_to event.title, event, class: 'heading' %></h1>
						<p class="excerpt"><%= event.excerpt %></p>
						<%= link_to "Read more", event, class: 'btn btn-lg btn-default' %>
					</div>
					<div class="col-md-5 <%= cycle('','col-md-pull-7', name: 'three') %> event-info">
						<%= render 'event_info', event: event %>
					</div>
				</div>
			</div>
		</div>
	<% end %>

<% if @previous_events.any? %>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-md-12 text-center content_block">
					<h2>Previous events</h2>
				</div>
			</div>
			<div class="row">
				<% @previous_events.each do |event| %>
					<div class="col-md-6 event-small">
						<%= image_tag event.featured_image_url(:thumbnail), class: "full_width" %>
						<div class="row">
							<div class="col-xs-6">
								<h3><%= link_to event.title, event, class: 'heading' %></h3>
								<%= link_to "Read more", event, class: "btn btn-lg btn-default" %>
							</div>
							<div class="col-xs-3 pull-right">
								<p class="event-date"><%= event.starts_at.strftime("%d") %></p>
								<p class="date"><%= event.starts_at.strftime("%B") %></p>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
</div>