<div class="container">
	<div class="row">
		<div class="col-md-11">
			<%= image_tag @event.featured_image_url, class: "full_width" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-1 event-heading"><h1><%= @event.title %></h1></div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p class="excerpt"><%= @event.excerpt %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 vertical-divider"></div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-2 text_block">
			<p><%=raw @event.content %></p>
		</div>
		<div class="col-md-4">
			<%= render 'events/event_info', event: @event %>
			<% if @event.published? && !@event.historic? %>
				<%= link_to "Attend", new_event_registration_path(@event), class: 'btn btn-lg btn-default' %>
			<% end %>
		</div>
	</div>
</div>