<div class="container">
	<div class="row">
		<div class="col-md-11 no-padding">
			<div class="aspect-ratio r-2-1">
				<div style="background-image:url('<%= @event.image_attachments.first.image %>');"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-1 event-heading"><h1><%= @event.title %></h1></div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p class="excerpt"><%= @event.excerpt %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-6 vertical-divider"></div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8">
			<%= render 'events/event_info', event: @event %>
			<% if @event.published? && !@event.historic? %>
				<% if !signed_in? || !current_user.registrations.find_by(event: @event).present? %>
					<%= link_to "Attend", new_event_registration_path(@event), {class: 'btn btn-lg btn-default', remote: true, data: {toggle: "modal", target: "#modal-fullscreen"}} %>
				<% elsif !current_user.registrations.find_by(event: @event).confirmed? %>
					<button class="btn btn-lg btn-default">Seat requested</button>
				<% elsif current_user.registrations.find_by(event: @event).confirmed? %>
					<button class="btn btn-lg btn-default">Seat confirmed</button>
				<% end %>	
			<% end %>
		</div>
		<div class="col-sm-8 col-md-6 col-md-offset-2 col-sm-pull-4 text_block">
			<p><%=raw @event.content %></p>
		</div>
	</div>
</div>