<div class="container">
	<div class="row">
		<div class="col-md-11 no-padding">
			<div class="aspect-ratio r-2-1">
				<div style="background-image:url('<%= @event.featured_image_url %>');"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-1 event-heading"><h1><%= @event.title %></h1></div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p class="excerpt"><%= @event.excerpt %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-6 vertical-divider"></div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-push-8">
			<%= render 'events/event_info', event: @event %>
			<% if @event.published? && !@event.historic? %>
				<% if !signed_in? || !current_user.registrations.find_by(event: @event).present? %>
					<%= link_to "Attend", new_event_registration_path(@event), {class: 'btn btn-lg btn-default', remote: true, data: {toggle: "modal", target: "#modal-fullscreen"}} %>
				<% elsif !current_user.registrations.find_by(event: @event).confirmed? %>
					<button class="btn btn-lg btn-default">Seat requested</button>
				<% elsif current_user.registrations.find_by(event: @event).confirmed? %>
					<button class="btn btn-lg btn-default">Seat confirmed</button>
				<% end %>	
			<% end %>
		</div>
		<div class="col-sm-8 col-md-6 col-md-offset-2 col-sm-pull-4 underline-links text_block">
			<p><%=raw @event.content %></p>
		</div>
	</div>
</div>
<% @event.content_blocks.each do |content_block| %>
	<%= render "content_blocks/#{content_block.type.underscore}", object: content_block %>
<% end %>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row content_block project_partnerships_block">
				<% if (@event.project_partners.any?) || (@event.project_partners_text.present?) %>
					<div class="col-md-4 project_partnership_content">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<h3>Project partners</h3>
								<%= content_tag :p, @event.try(:project_partners_text) %>
								<div class="row">
									<% @event.project_partners.each do |p| %>
										<div class="col-xs-6">
											<%= link_to profile_path(p), class: 'project_partner' do %>
												<%= image_tag p.logo_url(:medium), class: "full_width" %>
											<% end %>
										</div>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
				<% if (@event.project_people.any?) || (@event.project_people_text.present?) %>
					<div class="col-md-4 project_partnership_content">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<h3><%= @event.project_people.pluck(:title).map{|t| t.split(" ").first }.to_sentence(last_word_connector: ' & ') %></h3>
								<%= content_tag :p, @event.try(:project_people_text) %>
								<% @event.project_people.each do |p| %>
									<%= link_to profile_path(p), class: 'project_person' do %>
										<%= image_tag p.image_url(:thumbnail), width: '60', class: "img-circle" %>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
				<% if @event.lab.present? %>
					<div class="col-md-4 project_partnership_content">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<h3><%= @event.lab.title %></h3>
								<p><%= @event.lab.subtitle %></p>
								<div class="row">
									<div class="col-md-8">
										<%= image_tag 'logos/text-logo.svg', class: "full_width" %>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<%= link_to 'View all events', events_path, class: 'btn btn-lg btn-default' %>
		</div>
	</div>
</div>