<% provide(:title, "All Tags") %>
<div class="row">
  <div class="col-md-8">
    <h2>All Tags</h2>
  </div>
  <div class="col-md-4 text-right">
    <%= link_to "New tag", new_admin_tag_path, class: 'btn btn-sm btn-default' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Created at</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @tags.each do |tag| %>
            <tr>
              <th scope="row"><%= tag.id %></th>
              <td><%= link_to truncate(tag.title, length: 75), edit_admin_tag_path(tag) %></td>
              <td><%= tag.created_at.to_s(:formatted) %></td>
              <td class="text-right">
                <%= link_to '<i class="fa fa-fw fa-eye"></i>'.html_safe, "#" %>
                <%= link_to '<i class="fa fa-fw fa-pencil"></i>'.html_safe, edit_admin_tag_path(tag) %>
                <%= link_to '<i class="fa fa-fw fa-trash"></i>'.html_safe, admin_tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
          <% if @tags.empty? %>
            <tr>
              <td colspan="5">No tags yet</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>