<% if @post.errors.any? %>
	<div class="alert alert-danger">
		<p>Oops! Something went wrong. Try again!</p>
		<ul>
	  	<% @post.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		</ul>
	</div>
<% end %>

<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :excerpt %>
	<%= f.text_area :excerpt, class: 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :tag_tokens, "Tags" %>
	<%= f.text_field :tag_tokens, class: 'form-control', data: { provider: 'tokeninput', load: @post.tags } %>
</div>

<div class="form-group">
	<%= f.label :content, "Primary content" %>
	<%= f.text_area :content, class: 'form-control', data: { provider: 'summernote'} %>
</div>
<div class="form-group">
	<%= label_tag :featured_images %>
	<div class="image_attachments sortable">
		<%= f.fields_for :image_attachments do |builder| %>
			<%= render 'admin/content_blocks/image_attachment_fields', f: builder %>
		<% end %>
		<%= link_to_add_fields "Add image", f, :image_attachments, { path: 'admin/content_blocks', :class => 'add_image add_fields_here btn btn-default'} %>
	</div>
	<div class="clearfix"></div>
</div>

<hr>

<div class="form-group">
	<%= label_tag :project_partners %>
	<div class="form-group">
		<%= f.text_area :project_partners_text, class: 'form-control', placeholder: "About the partners" %>
	</div>
	<div class="clearfix"></div>
	<%= f.fields_for :company_partnerships do |builder| %>
		<%= render 'admin/content_blocks/company_partnership_fields', f: builder %>
	<% end %>
	<%= link_to_add_fields "Add project partner", f, :company_partnerships, { path: 'admin/content_blocks', :class => 'add_fields_here btn btn-default'} %>
</div>
<hr>
<div class="form-group">
	<%= label_tag :project_people %>
	<div class="form-group">
		<%= f.text_area :project_people_text, class: 'form-control', placeholder: "About the people" %>
	</div>
	<div class="clearfix"></div>
	<%= f.fields_for :person_partnerships do |builder| %>
		<%= render 'admin/content_blocks/person_partnership_fields', f: builder %>
	<% end %>
	<%= link_to_add_fields "Add project person", f, :person_partnerships, { path: 'admin/content_blocks' ,:class => 'add_fields_here btn btn-default'} %>
</div>
<hr>
<div class="form-group">
	<%= f.label :lab_id %>
	<div class="form-select">
		<%= f.select :lab_id, Lab.published.pluck(:title,:id), {include_blank: "Select lab"}, {class: 'form-control'} %>
		<span class="caret"></span>
	</div>
</div>

<hr>

<div class="sortable">
	<%= f.fields_for :content_blocks do |builder| %>
		<%= render "admin/content_blocks/#{builder.object.class.name.underscore}_fields", f: builder %>
	<% end %>

	<div class="add_fields_here">
		<%= link_to_add_fields '<i class="fa fa-fw icon-image"></i> Add image block'.html_safe, f, :image_blocks, { path: 'admin/content_blocks', class: 'btn btn-default' } %>
		<%= link_to_add_fields '<i class="fa fa-fw icon-text"></i> Add text block'.html_safe, f, :text_blocks, { path: 'admin/content_blocks', class: 'btn btn-default' } %>
		<%= link_to_add_fields '<i class="fa fa-fw icon-images"></i> Add image slider block'.html_safe, f, :image_slider_blocks, { path: 'admin/content_blocks', class: 'btn btn-default' } %>
		<%= link_to_add_fields '<i class="fa fa-fw icon-video"></i> Add video block'.html_safe, f, :video_blocks, { path: 'admin/content_blocks', class: 'btn btn-default' } %>
		<%= link_to_add_fields '<i class="fa fa-fw fa-quote-right"></i> Add quote block'.html_safe, f, :quote_blocks, { path: 'admin/content_blocks', class: 'btn btn-default' } %>
	</div>
</div>

<hr>

<div class="checkbox">
	<%= label_tag do %>
		<%= f.check_box :rateable %> Toggle ratings
	<% end %>
</div>

<% if @post.publish_at.present? && @post.publish_at < DateTime.now  %>
	<div class="checkbox">
		<%= label_tag do %>
			<%= f.check_box :published, id: "published" %> Publish
		<% end %>
	</div>
<% end %>
<div class="checkbox">
	<% should_be_checked = (@post.publish_at.nil? || @post.publish_at < DateTime.now) ? false : true %>
	<%= label_tag do %>
		<%= check_box_tag :schedule_post, nil, should_be_checked, id: "schedule_post" %> Schedule
	<% end %>
</div>
<div class="row" id="publish_at_form_group">
	<div class="form-group col-md-4">
		<div class="input-group">
			<%= f.datetime_field :publish_at, value: (@post.publish_at.blank? ? '' : @post.publish_at.to_s(:formatted)), class: "form-control datetimepicker" %>	
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		</div>
	</div>
</div>

<div class="form-group">
	<%= f.submit "Save", class: "btn btn-default" %>
	<%= f.submit "Schedule", class: "btn btn-primary" %>
	<%= f.submit "Publish now", class: "btn btn-primary" unless (@post.published? && @post.publish_at && @post.publish_at < DateTime.now) %>
</div>