<% provide(:title, "All labs") %>
<div class="row">
	<div class="col-md-8">
		<h2>All labs</h2>
	</div>
	<div class="col-md-4 text-right">
		<%= link_to "New lab", new_admin_lab_path, class: 'btn btn-sm btn-default' %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
  		<table class="table">
  			<thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Updated at</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        	<% @labs.each do |lab| %>
	          <tr>
	            <th scope="row"><%= lab.id %></th>
	            <td><%= link_to lab.title, admin_lab_path(lab) %></td>
	            <td><%= lab.updated_at.to_s(:formatted) %></td>
	            <td class="text-right">
	            	<%= link_to '<i class="fa fa-fw fa-eye"></i>'.html_safe, lab %>
	            	<%= link_to '<i class="fa fa-fw fa-pencil"></i>'.html_safe, edit_admin_lab_path(lab) %>
	            	<%= link_to '<i class="fa fa-fw fa-trash"></i>'.html_safe, admin_lab_path(lab), method: :delete, data: { confirm: 'Are you sure?' } %>
	            </td>
	          </tr>
	        <% end %>
        </tbody>
  		</table>
  	</div>
	</div>
</div>