<% content_for :title, "Journal" %>

<div class="container-align-left">
	<div class="row">
		<div class="col-md-12">
			<div class="slick-variable-width" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
				<% @posts.limit(3).each_with_index do |post, index| %>
					<%= link_to post do %>
						<%= image_tag post.featured_image_url(:medium), height: "500", onload: (index == 0 ? "slickGoToStart(this)" : '') %>
						<h2><%= post.title %></h2>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<% @posts.offset(3).limit(2).each_with_index do |post, i| %>
					<div class="col-sm-6 post-thumbnail with-left-border <%= i != 0 ? 'hidden-xs' : '' %>">
						<%= render 'thumbnail', post: post %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row smaller-inside-gutter-xs">
				<% @posts.offset(4).limit(4).each_with_index do |post, i| %>
					<div class="col-xs-6 col-md-4 post-thumbnail <%= i == 0 ? 'visible-xs' : 'with-left-border' %>">
						<%= render 'thumbnail', post: post %>
					</div>
					<% if i % 2 == 1 %>
						<div class="clearfix visible-xs"></div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<% if @featured_posts.any? %>
	<div class="bg-gray">
		<div class="container">
			<div class="row content_block-sm">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-12">
							<h3>#<%= @featured_lab.delete(' ').downcase %></h3>
						</div>
					</div>
					<div class="row smaller-inside-gutter-xs">
						<% @featured_posts.each_with_index do |post, i| %>
							<div class="col-md-<%= 12/@featured_posts_count %> col-xs-6 post-miniature">
								<%= link_to post do %>
									<%= image_tag post.featured_image.image_url(:medium), class: "full_width" %>
									<% if post.lab.present? %>
										<p class="meta-text">&mdash; <%= post.lab.title %></p>
									<% else %>
										<p class="meta-text">&mdash; <%= post.tags.pluck(:title).first %></p>
									<% end %>
									<p class="post-title"><%= post.title %></p>
								<% end %>
							</div>
							<% if i % 2 == 1 %>
								<div class="clearfix visible-xs"></div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<% if @featured_videos.any? %>
<div class="container hidden-xs">
	<div class="row content_block featured_videos_block">
		<div class="col-md-8 col-md-offset-2">
			<%= render 'posts/featured_videos', videos: @featured_videos %>
		</div>
	</div>
</div>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row content_block-sm">
				<% @posts.offset(8).limit(2).each do |post| %>
					<div class="col-sm-6 post-thumbnail with-left-border">
						<%= render 'thumbnail', post: post %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<% if @instagram_photos %>
<div class="container">
	<div class="row content_block">
		<div class="col-md-12 instagram-row">
			<% @instagram_photos.first(4).each do |photo| %>
				<%= link_to photo["link"], class: 'col-xs-6 col-md-3 instagram-photo-container',target: '_blank' do %>
					<% photo_url = photo["images"]["standard_resolution"]["url"] %>
					<div class="instagram-photo aspect-ratio r-1-1" style="background-image: url('<%= photo_url %>');"></div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<% end %>

<% if @mentions.count >= 4 %>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row content_block-sm">
					<div class="col-md-12">
						<h3>In The Press</h3>
					</div>
				</div>
				<%= render 'press_mentions', mentions: @mentions %>
				<div class="row content_block">
					<% if @mentions.count < PressMention.published.count %>
						<div class="col-md-12 text-center">
							<%= link_to "View all", press_mentions_path, class: 'btn btn-default' %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div class="container">
	<div class="row content_block">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<% @posts.offset(10).limit(3).each do |post| %>
					<div class="col-md-4 post-thumbnail with-left-border">
						<%= render 'thumbnail', post: post %>
					</div>
				<% end %>
			</div>
			<div class="row ajax-posts">
			  <div class="col-md-12 text-center">
			    <%= link_to "Load more", posts_path(last_post: 13), class: 'btn btn-default', remote: true %>
			  </div>
			</div>
		</div>
	</div>
</div>