<% content_for :title, "Journal" %>

<div class="container-align-left">
	<div class="row">
		<div class="col-md-12">
			<div class="slick-variable-width" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
				<% @posts.limit(3).each do |post| %>
					<%= link_to post do %>
						<%= image_tag post.image_attachments.first.image_url(:medium), height: "500" %>
						<h2><%= post.title %></h2>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<% @posts.offset(3).limit(2).each do |post| %>
					<div class="col-md-6 post-thumbnail">
						<%= render 'thumbnail', post: post %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<% @posts.offset(5).limit(3).each do |post| %>
					<div class="col-md-4 post-thumbnail">
						<%= render 'thumbnail', post: post %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<% if @featured_posts.any? %>
	<div class="bg-gray">
		<div class="container">
			<div class="row content_block">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-12">
							<h3>#<%= @featured_lab.delete(' ').downcase %></h3>
						</div>
					</div>
					<div class="row">
						<% @featured_posts.each do |post| %>
							<div class="col-md-<%= 12/@featured_posts_count %> col-xs-6 post-miniature">
								<%= link_to post do %>
									<%= image_tag post.featured_image.image_url(:medium), class: "full_width" %>
									<% if post.lab.present? %>
										<p class="meta-text">&mdash; <%= post.lab.title %></p>
									<% else %>
										<p class="meta-text">&mdash; <%= post.tags.pluck(:title).first %></p>
									<% end %>
									<p><%= post.title %></p>
								<% end %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<% if @featured_videos.any? %>
<div class="container">
	<div class="row content_block featured_videos_block">
		<div class="col-md-8 col-md-offset-2">
			<%= render 'posts/featured_videos', videos: @featured_videos %>
		</div>
	</div>
</div>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row content_block">
				<% @posts.offset(8).limit(2).each do |post| %>
					<div class="col-md-6 post-thumbnail">
						<%= render 'thumbnail', post: post %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<% if @instagram_photos %>
<div class="container">
	<div class="row content_block">
		<div class="col-md-12 instagram-row">
			<% @instagram_photos.first(4).each do |photo| %>
				<%= link_to photo["link"], class: 'col-xs-6 col-md-3 instagram-photo-container',target: '_blank' do %>
					<% photo_url = photo["images"]["standard_resolution"]["url"] %>
					<div class="instagram-photo aspect-ratio r-1-1" style="background-image: url('<%= photo_url %>');"></div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row content_block">
				<% @posts.offset(10).limit(3).each do |post| %>
					<div class="col-md-4 post-thumbnail">
						<%= render 'thumbnail', post: post %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>