<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 content_block">
			<h1><%= @post.title %></h1>
		</div>
	</div>
</div>
<div class="container-align-left">
	<div class="row content_block">
		<div class="col-md-12">
			<div class="slick-variable-width" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
				<% @post.image_attachments.each_with_index do |attachment, index| %>
					<a href="#"><%= image_tag attachment.image_url(:large), height: "500" %></a>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-2 share-box">
			<!-- <p class="date"><%= @post.publish_at.to_date.to_s(:formatted) %></p> -->
			<div class="hidden-xs hidden-sm">
				<%= render 'posts/share_links', post: @post %>
			</div>
		</div>
		<div class="col-md-8 content_block">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<p class="excerpt"><%= @post.excerpt %></p>
					<div class="visible-xs visible-sm">
						<%= render 'posts/share_links', post: @post %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 underline-links text_block">
					<%= @post.content.html_safe %>
				</div>
			</div>
		</div>
	</div>
</div>
<% @post.content_blocks.each do |content_block| %>
	<%= render "content_blocks/#{content_block.type.underscore}", object: content_block %>
<% end %>

<% if [@post.project_partners.any?, @post.project_partners_text.present?, @post.project_people.any?, @post.project_people_text.present?, @post.lab.present?].any? %>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row content_block project_partnerships_block">
				<% if (@post.project_partners.any?) || (@post.project_partners_text.present?) %>
					<div class="col-md-4 project_partnership_content">
						<hr class="visible-xs">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<h3>Project partners</h3>
								<%= content_tag :p, @post.try(:project_partners_text) %>
								<div class="row">
									<% @post.project_partners.each do |p| %>
										<div class="col-xs-6">
											<%= link_to profile_path(p), class: 'project_partner' do %>
												<%= image_tag p.logo_url(:medium), class: "full_width" %>
											<% end %>
										</div>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
				<% if (@post.project_people.any?) || (@post.project_people_text.present?) %>
					<div class="col-md-4 project_partnership_content">
						<hr class="visible-xs">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<h3><%= @post.project_people.pluck(:title).map{|t| t.split(" ").first }.to_sentence(last_word_connector: ' & ') %></h3>
								<%= content_tag :p, @post.try(:project_people_text) %>
								<% @post.project_people.each do |p| %>
									<%= link_to profile_path(p), class: 'project_person' do %>
										<%= image_tag p.image_url(:thumbnail), width: '60', class: "img-circle" %>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
				<% if @post.lab.present? %>
					<div class="col-md-4 project_partnership_content">
						<hr class="visible-xs">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<h3><%= @post.lab.title %></h3>
								<p><%= @post.lab.subtitle %></p>
								<div class="row">
									<div class="col-md-8">
										<%= image_tag 'logos/text-logo.svg', class: "full_width" %>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% end %>

<% if @post.rateable? %>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<hr class="visible-xs">
				<% if signed_in? && current_user.ratings.find_by(resource: @post).present? %>
					<%= render 'ratings/edit', rating: current_user.ratings.find_by(resource: @post) %>
				<% else %>
					<%= render 'ratings/new', object: @post %>
				<% end %>
			</div>
		</div>
	</div>
	
<% end %>

<div class="container">
	<div class="row margin-bottom-gutter">
		<div class="col-md-10 col-md-offset-1">
			<div class="row"><div class="col-md-12"><hr></div></div>
			<div class="row">
				<% @posts.each do |post| %>
					<div class="col-md-4 post-thumbnail with-left-border">
						<%= render 'posts/thumbnail', post: post %>
					</div>
				<% end %>
			</div>
			<div class="row ajax-posts">
			  <div class="col-md-12 text-center">
			    <%= link_to "Load more", posts_path(last_post: 3), class: 'btn btn-default', remote: true %>
			  </div>
			</div>
		</div>
	</div>
</div>