<% content_for :title, @post.title %>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 content_block">
			<h1><%= @post.title %></h1>
		</div>
	</div>
</div>
<div class="container-align-left">
	<div class="row">
		<div class="col-md-12 content_block">
			<div class="slick-variable-width" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
				<% @post.image_attachments.each do |attachment| %>
					<div><%= image_tag attachment.image_url(:large), height: "500" %></div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-2 content_block">
			<p class="date"><%= @post.publish_at.to_date.to_s(:formatted) %></p>
		</div>
		<div class="col-md-8 content_block">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<p class="excerpt"><%= @post.excerpt %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text_block">
					<%= @post.content.html_safe %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<% @post.content_blocks.each do |content_block| %>
		<%= render "posts/#{content_block.type.underscore}", object: content_block %>
	<% end %>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row content_block project_partnerships_block">
				<% if (@post.project_partners.any?) || (@post.project_partners_text.present?) %>
					<div class="col-md-4 project_partnership_content">
						<h3>Project partners</h3>
						<%= content_tag :p, @post.try(:project_partners_text) %>
						<div class="row">
							<% @post.project_partners.each do |p| %>
								<div class="col-md-6">
									<%= link_to profile_path(p), class: 'no-link-style' do %>
										<%= image_tag p.logo_url(:medium), class: "full_width" %>
									<% end %>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
				<% if (@post.project_people.any?) || (@post.project_people_text.present?) %>
					<div class="col-md-4 project_partnership_content">
						<h3><%= @post.project_people.pluck(:title).map{|t| t.split(" ").first }.to_sentence(last_word_connector: ' & ') %></h3>
						<%= content_tag :p, @post.try(:project_people_text) %>
						<% @post.project_people.each do |p| %>
							<%= link_to profile_path(p), class: 'no-link-style' do %>
								<%= image_tag p.image_url(:thumbnail), width: '60', class: "img-circle" %>
							<% end %>
						<% end %>
					</div>
				<% end %>
				<% if @post.lab.present? %>
					<div class="col-md-4 project_partnership_content">
						<h3><%= @post.lab.title %></h3>
						<p><%= @post.lab.subtitle %></p>
						<div class="row">
							<div class="col-md-8">
								<%= image_tag 'text-logo.svg', class: "full_width" %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
			<div class="row">
				<div class="col-md-12"><hr></div>
				<% @posts.each do |post| %>
					<div class="col-md-4">
						<%= render 'posts/thumbnail', post: post %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>