<ul id="admin_nav" class="list-unstyled">
	<li><%= nav_link '<i class="fa fa-fw fa-book"></i> Journal'.html_safe, admin_posts_path %></li>
  <li><%= nav_link '<i class="fa fa-fw fa-calendar"></i> Program'.html_safe, admin_events_path %></li>
  <li><%= nav_link '<i class="fa fa-fw fa-flask"></i> Labs'.html_safe, admin_labs_path %></li>
  <li><%= nav_link '<i class="fa fa-fw fa-heart"></i> Community'.html_safe, admin_profiles_path %></li>
</ul>
<ul id="admin_nav" class="list-unstyled">
  <li><%= nav_link '<i class="fa fa-fw fa-newspaper-o"></i> In the press'.html_safe, admin_press_mentions_path %></li>
	<li><%= nav_link '<i class="fa fa-fw icon-users"></i> Users'.html_safe, "#" %></li>
	<li><%= nav_link '<i class="fa fa-fw fa-wifi"></i> Beacons'.html_safe, "#" %></li>
	<li><%= nav_link '<i class="fa fa-fw fa-gears"></i> Settings'.html_safe, admin_edit_settings_path %></li>
</ul>