<footer>
  <div class="container">
    <div class="row">
    	<div class="col-md-3">
	    	<ul class="list-unstyled">
	    		<li><%= link_to "About", '#' %></li>
	    		<li><%= link_to "App", '#' %></li>
	    		<li><%= link_to "Press", '#' %></li>
	    		<li><%= link_to "Link", '#' %></li>
	    	</ul>
	    </div>
	    <div class="col-md-3">
	    	<div class="row">
	    		<div class="col-md-6">Newsletter</div>
	    		<div class="col-md-6">
	    		</div>
	    	</div>
	    </div>
	    <div class="col-md-3"></div>
	    <div class="col-md-3 text-right"><%= link_to "Back to top", '#' %></div>
    </div>
    <div class="row">
    	<div class="col-md-6">
    		<ul class="list-unstyled list-inline">
    			<li><%= link_to '<i class="fa fa-lg fa-fw fa-instagram"></i>'.html_safe, '#' %></li>
    			<li><%= link_to '<i class="fa fa-lg fa-fw fa-youtube-play"></i>'.html_safe, '#' %></li>
    			<li><%= link_to '<i class="fa fa-lg fa-fw fa-linkedin"></i>'.html_safe, '#' %></li>
    			<li><%= link_to '<i class="fa fa-lg fa-fw fa-twitter"></i>'.html_safe, '#' %></li>
    		</ul>
    	</div>
    	<div class="col-md-6">
    		<div class="row">
    			<span class="pull-right">
    				Space 10 <br>
    				Flæsketorvet 10<br>
    				1711 Copenhagen V<br>
    				Denmark
    			</span>
    		</div>
    	</div>
    </div>
  </div>
</footer>