<%= render 'layouts/easteregg' %>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Space10" %></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta property="og:site_name"           content="Space 10">
  <meta property="og:locale"              content="en_UK">

  <meta property="og:title" content="<%= full_title yield(:title) %>">

  <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>