<!-- Modal fullscreen -->
<div class="modal modal-fullscreen fade" id="modal-fullscreen" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= link_to '#', class: 'large_close', data: { dismiss: 'modal' } do %>
          <span></span>
        <% end %>
        <!-- <h4 class="modal-title" id="myModalLabel">Login</h4> -->
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<!-- NAVIGRATION ON MOBILE -->

<% lab = Post.find_by(title: 'The Fresh Living Lab') %>
<div class="modal modal-fullscreen modal-slide-up fade" data-backdrop-color="black" id="modal-navigate" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= link_to '#', class: 'large_close', data: { dismiss: 'modal' } do %>
          <span></span>
        <% end %>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 mobile-nav-links text-center">
            <ul class="list-unstyled">
              <li><%= link_to "Journal", posts_path %></li>
              <li><%= link_to "Program", events_path %></li>
              <li><%= link_to "Labs", lab if lab.present? %></li>
              <li><%= link_to "Community", profiles_path %></li>
              <li><%= link_to "About", about_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>