<!-- TEMP -->
<% lab = Post.find_by(title: 'The Fresh Living Lab') %>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag 'logos/logo.svg', height: "114", width: '94', id: 'svg_logo' %>
        <%= image_tag 'logos/logo_wo_text.svg', width: '60', id: 'mobile_logo' %>
      <% end %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-left hidden-xs hidden-sm">
        <% if signed_in? %>
          <li>
            <%= link_to edit_user_path(current_user), {remote: true, data: {toggle: "modal", target: "#modal-fullscreen"}} do %>
              <%= image_tag current_user.personal_profile.image_url(:thumbnail), width: '22', class: 'img-circle' %>
              &nbsp;<%= current_user.first_name %>
            <% end %>
          </li>
          <li>
            <%= link_to search_path, {remote: true, data: {toggle: "modal", target: "#modal-fullscreen"}} do %>
              <i class="fa fa-search"></i> Search
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "<i class='icon-fingerprint'></i> Sign up".html_safe, new_user_path, {remote: true, data: {toggle: "modal", target: "#modal-fullscreen"}} %></li>
        <% end %>
        <!-- <li><%= link_to "<i class='fa fa-search'></i> Search".html_safe, "#" %></li> -->
      </ul>
      <ul class="nav navbar-nav primary-nav navbar-right hidden-xs hidden-sm">
        <li class="play_sound">
          <%= nav_link "Journal", posts_path %>
          <%= audio_tag 'journal.mp3', id: 'journal', preload: true %>
        </li>
        <li class="play_sound">
          <%= nav_link "Program", events_path %>
          <%= audio_tag 'program.mp3', id: 'program', preload: true %>
        </li>
        <% if lab.present? %>
          <li class="play_sound">
            <%= nav_link "Labs", lab %>
            <%= audio_tag 'labs.mp3', id: 'labs', preload: true %>
          </li>
        <% end %>
        <li class="play_sound">
          <%= nav_link "Community", profiles_path %>
          <%= audio_tag 'community.mp3', id: 'community', preload: true %>
        </li>
        <li class="play_sound">
          <%= nav_link "About", about_path %>
          <%= audio_tag 'about.mp3', id: 'about', preload: true %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right visible-xs-block visible-sm-block">
        <% if signed_in? %>
          <li>
            <%= link_to edit_user_path(current_user), {remote: true, data: {toggle: "modal", target: "#modal-fullscreen"}} do %>
              <%= current_user.first_name %>
              &nbsp;<span><%= image_tag current_user.personal_profile.image_url(:thumbnail), width: '22', class: 'img-circle' %></span>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "<i class='icon-fingerprint'></i> Sign up".html_safe, new_user_path, {remote: true, data: {toggle: "modal", target: "#modal-fullscreen"}} %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<nav class="navbar navbar-inverse navbar-fixed-bottom visible-xs-block visible-sm-block">
  <div class="container">
    <div id="navbar">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= link_to search_path, {remote: true, data: {toggle: "modal", target: "#modal-fullscreen"}} do %>
          <i class="fa fa-search"></i>
        <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "#", {data: {toggle: "modal", target: "#modal-navigate"}} do %>
            <%= current_section %> <i class="fa fa-chevron-down"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal modal-fullscreen modal-slide-up fade" data-backdrop-color="black" id="modal-navigate" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= link_to '#', class: 'large_close', data: { dismiss: 'modal' } do %>
          <span></span>
        <% end %>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 mobile-nav-links text-center">
            <ul class="list-unstyled">
              <li><%= link_to "Journal", posts_path %></li>
              <li><%= link_to "Program", events_path %></li>
              <li><%= link_to "Labs", lab if lab.present? %></li>
              <li><%= link_to "Community", profiles_path %></li>
              <li><%= link_to "About", about_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>