<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body data-no-turbolink class="admin">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag 'logos/logo_wo_text.svg', width: '60' %>
          <% end %>
        </div>
      </div>
    </nav>
    <%= render 'layouts/flash_messages' %>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <%= render 'admin/layouts/nav' %>
        </div>
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
