<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash_messages' %>
    
    <div id="page_content" class="<%= controller_name %> <%= controller.action_name %>">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <%= render 'layouts/modals' %>
  </body>
</html>
