<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body data-no-turbolink class="<%= controller_name %> <%= controller.action_name %>">
    <%= render 'layouts/navbar' %>
    
    <div class="container">
      <%= render 'layouts/flash_messages' %>
    </div>
    <%= yield %>
    
    <%= render 'layouts/footer' %>
    <%= render 'layouts/modals' %>
  </body>
</html>
